form {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  max-width: 900px;
}

#form-container {
  text-align: center;
}

.input-container {
  text-align: left;
  width: 100%;
}

input, select {
  border: 1px solid #808080;
  border-radius: 2px;
}

input[type="text"], input[type="number"], select:not([multiple]) {
  background-color: white;
  padding: 5px;
}

option {
  padding: 2.5px;
}

label, input[type="text"], input[type="number"], select {
  width: 98%;
  height: 98%;
  margin: 1%;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

#table-container {
  display: none;
  overflow-y: scroll;
  height: 500px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
}

tbody tr {
  background: #f2f2f2;
  border: 1px solid #808080;
}

tbody tr:nth-child(odd) {
  background: #e6e6e6;
}

tbody tr.selected {
  background-color: yellow;
}

th {
  text-align: left;
}

.controls-small {
  float: left;
  width: 20%;
}

.controls-large {
  float: left;
  width: 60%;
}

#control-container {
  display: none;
  text-align: center;
}

.control-btn {
  width: 33%;
  background-color: #008CBA;
  color: white;
  border: solid 1px #008CBA;
  border-radius: 2px;
  margin: 1px;
}

.wide-btn {
  width: 90%
}

ul.list {
}

li.addable {
  display: block;
}

button.addable {
  background-color: #008CBA;
  border: solid 1px #008CBA;
  color: white;
}

button.removable {
  background-color: red;
  border: solid 1px red;
  color: white;
}

button.option {
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  margin: 1px;
}

li.navbar {
  float: left;
}

ul.navbar {
  background-color: #001f3f;
  color: hsla(210, 100%, 75%, 1.0);
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.show-menu {
  display: none;
}

input[type=checkbox].show-menu {
  display: none;
}

li a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  color: hsla(210, 100%, 75%, 1.0);
}

li a:hover {
  background-color: #404040;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
}

@media screen and (max-width: 800px){
  label.show-menu {
    width: 100%;
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    font-weight: 500;
  }

  label.show-menu:hover {
    cursor: pointer;
    background-color: #404040;
  }

  #menu {
    display: none;
  }

  li.navbar {
    width: 100%;
  }

  ul.navbar {
    background-color: #001f3f;
    color: hsla(210, 100%, 75%, 1.0);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
